<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.moorehy.financial-toolbox</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>10D702AF-86AC-440D-A1C5-7B4ECD50BFA3</key>
		<array/>
		<key>126A745F-7846-468E-A6B7-560AF0C119B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9BEB2901-6B69-468F-9150-13B004E16311</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4E79766-6F5C-4647-B92A-B08A0BF70766</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10D702AF-86AC-440D-A1C5-7B4ECD50BFA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>172E1B8E-53F0-4118-B3B0-C4EA772F8D05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Moore</string>
	<key>description</key>
	<string>私房理财工具箱，包括信用卡分期理财、固收理财等计算工具</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>理财工具箱</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>fq</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python instalment.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>总金额、分期数、年化收益率(%)、月分期费率(%，默认为0)</string>
				<key>title</key>
				<string>请分别输入以下参数，如：6000 12 4</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D4E79766-6F5C-4647-B92A-B08A0BF70766</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>10D702AF-86AC-440D-A1C5-7B4ECD50BFA3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>largetypetext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>172E1B8E-53F0-4118-B3B0-C4EA772F8D05</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python earning.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>本金、天数、年化收益率(%)</string>
				<key>title</key>
				<string>请分别输入以下参数，如：6000 30 5</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>126A745F-7846-468E-A6B7-560AF0C119B1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9BEB2901-6B69-468F-9150-13B004E16311</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># 理财工具箱

## 信用卡分期计算工具(fq)

该工具将计算指定金额在指定分期数下（以及可能存在的手续费），通过理财所获得的最终收益。并将分期详情列表输出到 `放大显示` 与 `系统剪贴板` 中。

调用用例： `fq 6000 12 4 0.3` ，计算 6000 元以 0.3% 月手续费分 12 期的情况下，进行预期年化 4% 的活期理财（毕竟是要按月还钱的），所得的最终收益。

&gt; 通过对结果条目触发 `enter` 事件，可放大显示详情信息，并同时输出到剪贴板中

## 固收理财计算工具(gs)

该工具将计算指定本金购买指定天数指定年化收益率的固定收益理财，最终到期的收益金额，并将收益结果信息输出到 `系统剪贴板` 中。

调用用例： `gs 6000 30 5` ，计算 6000 元本金购买 30 天年化收益 5% 的固收理财到期所得收益

&gt; 通过对结果条目触发 `enter` 事件，可输出到剪贴板中</string>
	<key>uidata</key>
	<dict>
		<key>10D702AF-86AC-440D-A1C5-7B4ECD50BFA3</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>126A745F-7846-468E-A6B7-560AF0C119B1</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>172E1B8E-53F0-4118-B3B0-C4EA772F8D05</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>9BEB2901-6B69-468F-9150-13B004E16311</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>D4E79766-6F5C-4647-B92A-B08A0BF70766</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.01</string>
	<key>webaddress</key>
	<string>https://www.moorehy.com</string>
</dict>
</plist>
